{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-trailing-commas",
    "standard-react"
  ],
  "globals": {
    "graphql": true,
    "__PATH_PREFIX__": true
  },
  "rules": {
    "react/prop-types": "off",
    "camelcase": "off",
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "indent": 2,
    "react/jsx-indent": 2,
    "no-mixed-spaces-and-tabs": "off"
  },
}
